.logo {
    width: 10rem;
    height: 10rem;
    margin: 0 2rem;
}

.logo-image {
    width: 100%;
}

.card {
    background: transparent;
    box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.24);
    overflow: hidden;
}
