.SignIn{
    height: 100vh;
}

@media (min-width: 500px) {
    .form {
        width: 65%; 
    }
}

@media (min-width: 768px) {
    .form {
        width: 55%; 
    }
}
@media (min-width: 992px) {
    .form {
        width: 45%; 
    }
}
@media (min-width: 1200px) {
    .form {
        width: 30%; 
    }
}